@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.percentageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 80px;
  height: 80px;
}

.border {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  padding: 30px 30px;
}

.bookCard {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  border-radius: 5px;
  padding: 3%;
  background-color: #fff;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

.action {
  display: flex;
  gap: 5px;
}

.action button {
  color: #3e98c7;
  width: fit-content;
  border: none;
  padding: 3px;
  cursor: pointer;
}

.bookInfo div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.author {
  color: #121212;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
}

.title {
  color: #121212;
  font-family: 'Montserrat', sans-serif;
}

.catagory {
  color: #121212;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
}

.button {
  background-color: #3e98c7;
  color: white;
  padding: 0.2rem;
  font-family: 'Montserrat', sans-serif;
  width: fit-content;
  font-size: 1rem;
  letter-spacing: 2px;
}

.progress {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
